@import "./image.scss";
@import "./article_card.scss";
@import "./navbar.scss";
@import "./iss_pass_times.scss";
@import "./astrounuts.scss";


body {
  font-family: 'Poppins', sans-serif;
  // margin-top: 70px;
}


.heading {
	text-align: center;
	margin-top: 85px;
	font-size: 60px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.app {
	padding: 30px;
	
  	.iss-container-parent {
	  	// position: sticky;
	  	// top: 70px;
	  	// right: 0px;
  		
  	}

	.iss-container {
	  	padding: 10px 20px 20px 20px;
		text-align: center;
		// border: 2px solid black;
		
		.position {
			// border: 2px solid black;
			padding: 5px;
			font-size: 17px;
			display: flex;
			justify-content: space-between;
			/*text-align: center;*/

			h2 {
				margin-top: 0px;
				font-size: 19px;
			}
		}

		.map {
			height: 350px;
			/*width: 20vw; */
			/*margin: auto;*/
			/*margin-left: 10px;*/
		}
	}


}

