.image-container {
	margin-top: 18px;
	padding: 30px;
	text-align: center;
	// border: 2px solid black;
	// display: flex;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
	/*align-items: center;*/

	.image {
		/*padding: 20px;*/
		width: 90vw;
		height: 88vh;
		object-fit: cover;
		/*object-position: center;*/
	}

	.image-text-container {
		margin: auto;
		width: 75vw;
		padding: 20px 20px 20px 20px;

		.image-text {
			font-size: 15px;
		}	
	}
}

.image-iss {
	width: 150px;
	height: 110px;
	object-fit: cover;
}
